/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2 {
    font-size: 22px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #d9d9d9;
    --form-dot-color: #000;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: var(--form-dot-color);
    height: 18px;
    width: 14px;
}

.fa-magnifying-glass {
    color: white;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.plus-500 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.plus-500 i {
    border: 1px var(--filter-border-color) solid;
    border-radius: 50%;
    padding: 7px 10px 7px 10px;

}

/****** Header ***********/
.conteneur-header img {
    height: 19px;
    width: 61.09px;
    margin-left: 0px;
    margin-top: 30px;
    
}

.conteneur-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.conteneur-header a {
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin-left: 69px;

}

.conteneur-header a:hover {
    color: var(--main-color);
    border-top: 2px var(--main-color) solid;
    padding-top: 16px;
}

/****** Formulaire et Filtres ***********/
form {
    display: flex;
    flex-direction: row;
}

.location-dot {
    background-color:#F2F2F2 ;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: var(--main-color);
    height: 49px;
    padding: 14px 16px 14px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px var(--main-color) solid;
    font-size: 18px;
    font-weight: 700;
    color: white ;
    text-align: center;
}

.search-dot {
    display: none;
}

.form input {
    height: 49px;
    padding: 14px 24px 14px 24px;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-left: 0px;
    border-right: 0px;
    text-align: center;  
}

.formulaires-filtres {
    margin-top: 60px;
    margin-bottom: 37.5px;
}

.filtres {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.themes-filtres {
    display: flex;
}

.filtres span {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    background-color: white;
    border: 2px var(--filter-border-color) solid;
    border-radius: 25px;
    gap: 11.5px;
    padding: 15px 19px 15px 19px;
    margin: 35px 8px 37.5px 8px;
}

.filtres span:hover{
    background-color: var(--filter-bg-color);
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    max-height: 650px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 30px;

}

.hebergements-cards img {
    height: 124px;
    width: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-title {
    margin-left: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 8px 0px 8px 10px;
}

.hebergements-cards .card-rating {
    margin-bottom: 10px;
    margin-left: 10px;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    width: 100%;

}

.activites h2 {
    margin-left: 30px;
    margin-bottom: 30px;
}

.activities h3 {
    margin: 20px 19px 20px 19px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
}

.activites-cards img {
    object-fit: cover;
    height: 380px;
    width: 297.5px;
    border-radius: 20px 20px 0px 0px;
}

.card-activites .card-title {
    margin: 20px 19px 20px 19px;
}

.card-activites {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 1px;
}


/****** Footer ***********/
footer {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    height: 163px;
    margin-top: 65px; 
}

.section-title-footer {
    font-size: 18px;
}

.a-propos {
    margin-left: 20px;
    margin-top: 20px;
}

.nos-hebergements {
    margin-left: 252.67px;
    margin-top: 20px;
}

.assistance {
    margin-left: 281.67px;
    margin-top: 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {

    /* Form & Filtres */

    .filtres {
        display: flex;
        flex-direction: column;
    }

    .p-filtres {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }

    .filtres span {
        font-size: 16px;
    }


    /* Hebergement */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    /* Populaires */

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        width: 30%;
        min-width: 265px;
        min-height: 134px;
    }

    /* Activites */

    .activites-cards img {
        width: 25%;
        min-width: 193.5px;
        max-height: 200px;
    }

    .activites-cards .card-activites { 
        width: 25%;
        min-width: 193.5px;
        min-height: 70px;
    }

    /* Footer */
    
    .nos-hebergements {
        margin-left: 124px;
    }

    .assistance {
        margin-left: 153px;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {

    /* General */

    .main-container {
        padding: 0 0;
    }

    /* Header */

    .conteneur-header {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .conteneur-header .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .conteneur-header a {
        border-bottom: 2px var(--main-bg-color) solid;
        padding: 0px 50% 15px;
        margin-left: 0px;

    }

    .conteneur-header a:hover {
        border-top: none;
        border-bottom: 2px var(--main-color) solid;
        padding: 0px 50% 15px;

    }

    /* Form & Filtres */

    .formulaires-filtres {
        padding: 10px 20px;
        margin-top: 20px;
    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
    }

    .p-filtres {
        margin-right: 250px;
        margin-top: 17px;
    }

    .filtres span {
        display: flex;
        justify-content: center;
        font-size: 14px;
        width: 120.5px;
        margin: 10px 10px 10px 0px;
    }

    .search-dot {
        background-color: var(--main-color);
        width: 50px;
        height: 49px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button {
        display: none;
    }

    /* Hebergement */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements {
        order: 2;
        background-color: white;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
    }

    /* Populaires */

    .populaires {
        margin-top: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    /* Activites */

    .activites-cards {
        display: flex;
        flex-direction: column;
    }

    .activites-cards img {
        min-width: 100%;
        max-height: 141px;
    }

    .activites-cards .card-activites { 
        min-width: 100%;
        min-height: 59px;
        margin-left: 30px;
        margin-right: 30px;
    }

    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        gap: 50px;
        width: 375px;
        height: 461px;
    }
}